.App {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.pokemonList {
  width: 50%;
}

.inFoPokemon {
  width: 50%;
}

.container_comments_form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.comments p {
  margin: 0 1em;
}

.user {
  float: left;
  font-weight: bolder;
}

.use_comment {
  clear: both;
}

.date {
  float: right;
  font-size: 0.7em;
}

.form {
  width: 100%;
}

input,
textarea {
  width: 20em;
  margin: 0 auto;
  display: block;
}

.comments {
  width: 18em;
  border: 1px solid black;
  padding: 0.5em;
  box-sizing: border-box;
  overflow-x: auto;
}

.up_container {
  margin-bottom: 0.5em;
}
